body {
  margin: 0;
}

.btn__reset,
.letter {
  font-family: 'Open Sans';
}

button,
.btn__reset {
  cursor: pointer;
  outline: 0;
}

.letter,
button {
  text-transform: uppercase;
}

.letter {
  transition: transform color;
  transition-duration: 1s;
}

.show {
  transform: rotate(360deg);
}
